.monitor-panel {
  flex: 1;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  @media (max-width: 1024px) {
    height: auto;
    overflow: visible;
  }
}
